@{
    ViewData["Title"] = "Welcome";
}

<div class="w-100 text-center" style="height: 450px; background-image: url('https://stewartsmusicshop.co.uk/wp-content/uploads/2023/02/vinyl.jpg'); background-size: cover;">
    <div style="background-color: rgba(0, 0, 0, 0.6); height: 100%; width: 100%; padding: 4rem; color: white;">
        <h1>Welcome to Music Store</h1>
        <p style="font-size: 1.25rem; line-height: 1.8; text-shadow: 1px 1px 5px rgba(0,0,0,0.6);">
            Discover a modern music experience. Browse our curated selection of albums, explore various genres, and find your next favorite artist. Build your shopping cart and enjoy the rhythm!
        </p>
        <a href="/Albums" class="btn btn-warning btn-lg">Browse Albums</a>
    </div>
</div>